Localization
{
    en-us
    {
        #LOC_RTWB_moduleTitle = Wormhole Bridge
        #LOC_RTWB_bridgeEnabled = Wormhole bridge
        #LOC_RTWB_enabled = Enabled
        #LOC_RTWB_disabled = Disabled
    }
    es-es
    {
        #LOC_RTWB_moduleTitle = Puente de agujero de gusano
        #LOC_RTWB_bridgeEnabled = Puente de agujero
        #LOC_RTWB_enabled = Activado
        #LOC_RTWB_disabled = Desactivado
    }
}
